.button-container {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(2, 48%);
	justify-content: space-between;
	box-sizing: border-box;
}
.button-container button {
	background-color: transparent;
	outline: none;
	border: none;
	height: 40px;
	color: white;
	border-radius: 5px;
	text-transform: uppercase;
}
.button-container button:nth-child(1) {
	background-color: #4b5c6b;
}
.button-container button:nth-child(2) {
	background-color: #d3455b;
}
