.review-photo {
	width: 95%;
	border-radius: 10px;
	background-color: #dfe6ed;
	margin: 20px auto 25px;
	background-size: cover;
	background-position: center;
}
/* .review-photo div {
	width: 100%;
	height: 100%;
} */
