.inputId {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 22%);
	justify-content: space-between;
	box-sizing: border-box;
	margin: 5px 0 20px 0;
}
.inputId.PASSPORT {
	grid-template-columns: 15% repeat(3, 22%);
}
.inputId.SIM {
	grid-template-columns: repeat(3, 20%) 12% 2% 12%;
}

.inputId input {
	height: 30px;
	text-align: center;
	padding: 2px 5px;
	font-size: larger;
	border-radius: 5px;
	outline: none;
	border: 1.5px solid gray;
}
.inputId input:focus {
	border: 1.5px solid #d3455b;
}
.inputName {
	height: 40px;
	padding: 2px 5px;
	font-size: larger;
	width: 100%;
	box-sizing: border-box;
	outline: none;
	border-radius: 5px;
	margin: 5px 0 20px 0;
	border: 1.5px solid gray;
}
.inputName:focus {
	border: 1.5px solid #d3455b;
}
