body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
	position: relative;
	padding: 15px;
	overflow: hidden;
}
.border {
	border: 0.8px solid rgba(0, 0, 0, 0.2);
	margin: 20px auto;
	position: relative;
	display: grid;
	grid-template-columns: 70px auto;
	align-items: center;
	padding: 10px 0;
	border-radius: 5px;
}
.border.time {
	margin-top: 25px;
	color: rgba(0, 0, 0, 0.7);
	border: 0.8px solid rgba(0, 0, 0, 0.02);
	background-color: rgba(0, 0, 0, 0.05);
}
.border.time .countdown-time {
	font-size: 1.3rem;
	color: #d3455b;
	font-weight: bold;
}
.border .title {
	font-weight: bold;
}
.border .body {
	font-size: 0.8em;
	color: rgba(0, 0, 0, 0.7);
}
.border svg {
	width: 50px;
	height: 50px;
	justify-self: center;
}
.border .check {
	position: absolute;
	right: 10px;
}
.border .check svg {
	width: 15px;
	height: 15px;
}

.req-doc {
	font-size: 0.7em;
	margin: 35px 0 -5px 7px;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.7);
	text-transform: uppercase;
	letter-spacing: 1px;
}

.sidebar {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: white;
	transition: 0.2s;
	color: black;
}
.sidebar.front {
	transform: translate3d(0, 0, 0);
	opacity: 1;
}
.sidebar.right {
	transform: translate3d(100%, 0, 0);
}
.sidebar.bottom {
	transform: translate3d(0, 100%, 0);
	opacity: 0;
}

.sidebar.black {
	background-color: #212121;
	color: white;
}
