.selfieCam-container {
	position: relative;
	width: 95%;
	margin: -10px auto 30px;
	border-radius: 10px;
	overflow: hidden;
}
.selfieCam-container video {
	border-radius: 10px;
}
.button-camera-selfie {
	position: fixed;
	left: 50%;
	bottom: 5px;
	transform: translate(-50%);
}

.dummy-frame {
	position: absolute;
	height: 100%;
	background-color: black;
	opacity: 0.6;
}
/* .selfie-container.dark {
	filter: brightness(0.3);
} */
.svg-container::after {
	content: "";
	width: 200px;
	height: 200px;
	background-color: salmon;
}

.selfie-frame {
	position: absolute;
	height: 100%;
	top: 0px;
	left: 50%;
	width: 100%;
	transform: translate(-50%);
}
.selfie-frame svg {
	position: relative;
	height: 100%;
	width: 100%;
	left: 50%;
	transform: translate(-50%);
}
.selfie-frame .rectangle {
	top: -40px;
}

/* .button-camera {
	display: grid;
	position: absolute;
	grid-template-columns: 2fr 3fr 2fr;
	width: 100%;
	background-color: salmon;
	bottom: 0;
	left: 0;
} */
